.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/libs/opentok-android-sdk.jar
/app/src/main/jniLibs/
/app/src/main/jniLibs/armeabi
/app/src/main/jniLibs/armeabi/libopentok.so
/app/src/main/jniLibs/armeabi-v7a/libopentok.so
/app/src/main/jniLibs/x86/libopentok.so
/spotlight_module/libs/*.jar