<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokbox.android.IB" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.tokbox.android.IB.services.ClearNotificationService"
            android:exported="false" >
            <intent-filter android:label="@string/clearNotificationService" >
                <action android:name="com.opentok.android.ib.services.ClearNotificationService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.tokbox.android.IB.CelebrityHostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.tokbox.android.IB.FanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_fan"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
